.sidebar-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
    display: inline;
    padding: 20px 20px 20px 20px;
    align-items: center;
    justify-content: center;
    background-color: rgb(219, 220, 255);
    margin-top: 60px;
    color: black;
    font-size: 18px;
    border: 2px solid black;
    overflow: auto;
}

.sidebar-container a {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

.search-container {
    display: flex;
    border-radius: 20px;
    justify-content: flex-end;
    background-color: white;
    align-items: center;
    position: relative;
    width: 155px;
    height: 30px;
}

.explore-container {
    padding: 5px;
}

.library-container {
    padding: 5px;
}

.chat-container {
    padding: 5px;
}

.setting-container {
    padding: 5px;
}

.nav-link {
    display: flex;
    align-items: center;
    margin: 10px;
    cursor: pointer;
}

.side-link {
    padding: 10px;
}

.icon {
    font-size: 25px;
    object-fit: contain;
}

h5 {
    padding: 20px 0 10px 0;
}

.search {
    padding-right: 10px;
    display: absolute;
    border: 2px solid red;
}

.h5 {
    padding: 0;
}

.search-input {
    font-size: 15px;
    width: 155px;
    height: 30px;
    border-radius: 20px;
    border: 2px solid black;
}