.app-container {
    height: 100vh; 
    display: flex;
    flex-direction: column;
    position: relative;
}
  
.content-container {
  margin-top: 60px;
}

.sidebar {
  position: fixed;
}
.main-content {
  overflow-y: auto;
  padding-left: 200px;
}

.footer {
  position: absolute;
  margin-top: 100vh;
  width: calc(100vw - 200px);
}
